<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">

</head>

<body class="">
    <h1>welcome <%= user %>
    </h1>
    <form action="/todo" class=" flex" method="post">
        <input type="text" name="title" placeholder="title" />
        <input type="text" name="desc" placeholder="desc" />
        <input type="date" name="dueDate" />
        <input type="submit" value="submit" />
    </form>
    <div class="displayContainer">

        
    </div>
</body>


</html>